{
	"id": "set1",
	"numberNodes": 3,
	"replicationFactors": 2,
	"shardSize": 32,
	"distance": [[0, 1, 0], [1, 0, 1], [0, 1, 0]],
	"members": [
		{
			"region": 1,
			"node": 1,
			"ip": "127.0.0.1",
			"port": 9090,
			"own": false
		},
		{
			"region": 2,
			"node": 1,
			"ip": "127.0.0.1",
			"port": 9091,
			"own": false
		},
		{
			"region": 1,
			"node": 2,
			"ip": "127.0.0.1",
			"port": 9092,
			"own": true
		}
	]
}
